/* HEADER */

#header {
  height: 14.5vh;
  width: 100%;
  margin: 0px;
  background-color: #AB2A19;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.header-logo {
  height: 50px;
}

.header-website-name{
  margin-left: 30px;
  color: white;
  font-weight: 500;
}

.header-button-1 {
  height:40px;
  width: 150px;
  background-color: #ED6B5A;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  margin-left: 100px;
}

.header-button-2 {
  height: 40px;
  width: 150px;
  background-color: #ED6B5A;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  margin-left: 10px;
}


/* ADD INVENTORY */

#ai-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.green-box {
  height: 510px;
  width: 470px;
  background-color: #3AD886;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 0px; */
}

.img-placeholder {
  height: 200px;
  width: 250px;
  background-color: white;
  margin-top: 20px;
  border: 3px black solid;
}

.gb-input-area {
  display: flex;
  flex-direction: column;
}

.gb-text {
  font-size: 22px;
  margin-right: 280px;
  margin-bottom: 5px;
}

.gb-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 90%;
  margin-right: 5px;
}

.gb-button-1 {
  height: 40px;
  width: 80px;
  background-color: #ED6B5A;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  /* margin-left: 10px; */
}

.gb-button-2 {
  height: 40px;
  width: 150px;
  background-color: #ED6B5A;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  /* margin-right: 10px; */
}


/* DASHBOARD */

#dash-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.red-box {
  height: 240px;
  width: 600px;
  background-color: #D34735;
  margin-top: 60px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dash-img-placeholder {
  height: 200px;
  width: 250px;
  background-color: white;
  border: 3px black solid;
  margin-left: 15px;
}

.rb-right-stuff {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
}

.rb-words {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.rb-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.rb-button {
  height: 40px;
  width: 80px;
  background-color: #3ad886;
  font-weight: 500;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  margin-left: 10px;
}