#header {
  height: 14.5vh;
  width: 100%;
  margin: 0px;
  background-color: #AB2A19;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.header-logo {
  height: 50px;
}

.header-website-name{
  margin-left: 30px;
  color: white;
  font-weight: 500;
}

.header-button-1 {
  height:40px;
  width: 150px;
  background-color: #ED6B5A;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  margin-left: 100px;
}

.header-button-2 {
  height: 40px;
  width: 150px;
  background-color: #ED6B5A;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
  margin-left: 10px;
}

